---
import { getCollection } from 'astro:content';
import Header from '../../components/header.astro';
import Layout from '../../layouts/Layout.astro';

const posts = await getCollection('blog');
---
<Layout>
<section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.id}/`}>
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
</Layout>
<style>
  section {
    margin: 2rem;
    a{
      text-decoration: none;
      color: #000;
    }
  }
</style>
