---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section>
    <h1>About Us</h1>
    <p>
      Welcome to Ikeno Coffee! We are passionate about delivering the best
      coffee experience.
    </p>
  </section>
</Layout>

<style>
  section {
    margin: 2rem;
    h1 {
      font-size: 2rem;
      color: #333;
    }
    p {
      font-size: 1.2rem;
      color: #555;
    }
  }
