---
import Logo from '../assets/ikeno-coffee.svg';
import Image from 'astro/components/Image.astro';
---



<header>
  <div>

  <Image src={Logo} alt="Ikeno Coffee" height="32" />
  </div>
</header>

<style>

</style>